<div class="container-fluid ">
    <a class="button-return" href="/listeLocataire">Précédent</a>
    <!--first formulaire-->
    <div class="row d-flex justify-content">
          <!-- Colonne de gauche -->
        <div class="col-xl-3 col-lg-3 col-md-3 col-11 text-center">
            <!-- Contenu à gauche -->
            <div class="hero">
                <div class="card">
                    <h5 class="f8">Identification</h5>
                    <img src="../../../assets/images/profil2.png" id="uploaded-image">
                    <label for="input-file" class="uploadImage">Ajouter image</label>
                    <input id="input-file" class="file" type="file">
                </div>
            </div>
        </div>


        <!--second formulaire-->
        <div class="col-xl-7 col-lg-8 col-md-9 col-11 text-center">
            <div class="card">
                <h5 class="fs">Modification des informations</h5>
                <form class="form-card" onsubmit="event.preventDefault()">
                        
                        <div class="row justify-content-between text-left">
                            <div class="form-group col-sm-6 flex-column d-flex">
                                <label>Civilité</label>
                                <select class="form-select form-select-sm" aria-label="Small select example">
                                    <option value="1">Monsieur</option>
                                    <option value="2">Madame</option>
                                    <option value="3">Mademoiselle</option>
                                </select>    
                            </div>
                            <div class="form-group col-sm-6 flex-column d-flex">
                                <label>Email</label>
                                <input type="text" id="email" name="email" placeholder="awafall@gmail.com" onblur="validate(3)"> 
                            </div>
                        </div>
                        <div class="row justify-content-between">
                            <div class="form-group col-sm-6 flex-column d-flex">
                                <label>Prenom</label>
                                <input type="text" id="fname" name="fname" placeholder="" onblur="validate(1)"> 
                            </div>
                            <div class="form-group col-sm-6 flex-column d-flex">
                                <label>Nom</label>
                                <input type="text" id="lname" name="lname" placeholder="" onblur="validate(2)"> 
                            </div>
                        </div>
                        <div class="row justify-content-between text-left">
                            <div class="form-group col-sm-6 flex-column d-flex">
                                <label>Profession</label>
                                <input type="text" id="job" name="job" placeholder="" onblur="validate(5)"> 
                            </div>
                            <div class="form-group col-sm-6 flex-column d-flex">
                                <label>Lieu de travail</label>
                                <input type="text" id="lieuTravail" name="lieuTravail" placeholder="" onblur="validate(5)"> 
                            </div>
                        </div>
                        <div class="row justify-content-between text-left">
                            <div class="form-group col-sm-6 flex-column d-flex">
                                <label>Date de naissance</label>
                                <input type="date" id="date" name="date" onblur="validate(5)"> 
                            </div>
                            <div class="form-group col-sm-6 flex-column d-flex">
                                <label>Nature de la pièce</label>
                                <select class="form-select form-select-sm" aria-label="Small select example">
                                    <option value="1">CIN</option>
                                    <option value="2">Passeport</option>
                                </select>    
                            </div>
                        </div>
                        <div class="row justify-content-between text-left">
                            <div class="form-group col-sm-6 flex-column d-flex">
                                <label>Numéro de la pièce</label>
                                <input type="text" id="nopiece" name="nopiece" onblur="validate(5)"> 
                            </div>
                            <div class="form-group col-sm-6 flex-column d-flex">
                                <label>Lieu de délivrance</label>
                                <input type="text" id="ldelivrance" name="ldelivrance" onblur="validate(5)"> 
                            </div>
                        </div>
                        <div class="row justify-content-between text-left">
                            <div class="form-group col-sm-6 flex-column d-flex">
                                <label>Date de délivrance</label>
                                <input type="date" id="dated" name="dated" onblur="validate(5)"> 
                            </div>
                            <div class="form-group col-sm-6 flex-column d-flex">
                                <label>Date d'expiration</label>
                                <input type="date" id="date-ex" name="date-ex" onblur="validate(5)"> 
                            </div>
                        </div>
                        <div class="row justify-content-between text-left">
                            <div class="form-group col-sm-6 flex-column d-flex">
                                <label>Nombre d'enfants</label>
                                <input type="number" id="nb" name="nb" onblur="validate(5)" min="1" max="20"> 
                            </div>
                            <div class="form-group col-sm-6 flex-column d-flex">
                                <label>Ancienne adresse</label>
                                <input type="text" id="adresse" name="adresse" onblur="validate(5)"> 
                            </div>
                        </div>
                        <div class="row justify-content-between text-left">
                            <div class="form-group col-sm-6 flex-column d-flex">
                                <label>Téléphone fixe</label>
                                <input type="text" id="tel-f" name="tel-f" onblur="validate(5)"> 
                            </div>
                            <div class="form-group col-sm-6 flex-column d-flex">
                                <label>Téléphone</label>
                                <input type="tel" id="tel" name="tel" onblur="validate(5)"> 
                            </div>
                        </div>
                        <h5 class="locative">Modification de la locative</h5>
                        <div class="row justify-content-between text-left">
                            <div class="form-group col-sm-6 flex-column d-flex">
                                <label>Type</label>
                                <select class="form-select form-select-sm" aria-label="Small select example">
                                    <option value="1">Studio</option>
                                    <option value="2">Maison</option>
                                    <option value="3">Appartement</option>
                                </select>    
                            </div>
                            <div class="form-group col-sm-6 flex-column d-flex">
                                <label>Identifiant</label>
                                <input type="text" id="idAp" name="idAp" placeholder="L26-Q4" onblur="validate(3)"> 
                            </div>
                        </div>
                        <button type="button" class="btn btn-primary">Enregistrer</button>
                        <button type="button" class="btn btn-danger">Annuler</button>
                </form>
            </div>
        </div>
    </div>
</div>


