body{
    color: #000;
    overflow-x: hidden;
    height: 100%;
    background-image: url("https://i.imgur.com/GMmCQHC.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
}

.card{
    padding: 30px 40px;
    margin-top: 20px;
    margin-bottom: 60px;
    border: none !important;
    box-shadow: 0 6px 12px 0 rgba(0,0,0,0.2)
}
.blue-text{
    color: #00BCD4
}
.fs {
    color: rgb(85, 138, 7);
    font-weight: bold;
    display: flex;
    @media only screen and (max-width: 1030px) {
        font-size: 11px;
    }
    @media only screen and (max-width: 768px) {
        font-size: 21px;
    }
}
label{
   display: flex;
   font-size: 14px;
   font-weight: bolder;
}

input, textarea, button, select{
    padding: 5px 5px;
    border-radius: 5px !important;
    margin: 5px 0px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    font-size: 14px !important;
    font-weight: 300;
    height: 30px;
}
input:focus, textarea:focus, select:focus{
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid rgb(85, 138, 7);;
    outline-width: 0;
    font-weight: 400
}
.locative {
    color: rgb(85, 138, 7);
    font-weight: bold;
    display: flex;
    margin-top: 18px;
    @media only screen and (max-width: 1030px) {
        font-size: 11px;
    }
    @media only screen and (max-width: 768px) {
        font-size: 21px;
    }
}
.f8 {
    color: rgb(85, 138, 7);
    font-weight: bold;
    @media only screen and (max-width: 1030px) {
        font-size: 11px;
    }
    @media only screen and (max-width: 768px) {
        font-size: 21px;
    }
}
.card {
    padding: 40px;
    text-align: center;
    
}
.card h1 {
   
    font-weight: 300;
    color: #000;
}
.card img {
    
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 10px auto 30px;
    
}
.uploadImage {
    display: block;
    width: 120px;
    background: rgb(85, 138, 7);
    color: #fff;
    padding: 8px;
    margin: 3px auto;
    border-radius: 5px;
    cursor: pointer;
    @media only screen and (max-width: 900px) {
        width: 80px;
        font-size: 12px;
        
    }
   
    @media only screen and (max-width: 768px) {
        font-size: 14px;
        width: 120px;
    }
} 
.file {
    display: none;
}
.btn {
    width: 90px;
    height: 40px;
    padding: 3px 3px 3px 3px;
    font-weight: 500;
    margin-top: 20px;
}
.btn-danger {
    position: relative;
    left: 25px;
}
.btn-primary {
    background-color: rgb(131, 125, 125);
}

@media (max-width: 1300px) {
    .row.d-flex.justify-content-center {
      flex-direction: row;
      flex-wrap: nowrap;

      .col-xl-3 {
        flex: 0 0 auto;
        max-width: none;
      }

      .col-xl-7 {
        flex: 1 0 0;
        max-width: none;
      }
    }
  }

.button-return {
    position: relative;
    top: 5px;
    background:rgb(131, 125, 125);
    border: none;
    padding: 5px 25px;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    place-items: center; //place le text au milieu
    text-decoration: none;
    color: #fff;
    border-radius: 2px;
    

}



