<div class="nav-items">
    <div class="nav-item">
        <fa-icon [icon]="faHome"></fa-icon>
        <span routerLink="/accueil">Accueil</span>
    </div>
    <div class="nav-item">
        <fa-icon [icon]="faBuilding"></fa-icon>
        <span>Biens</span>
    </div>
    <div class="nav-item">
        <fa-icon [icon]="faUserCircle"></fa-icon>
        <span>Propriétaires</span>
    </div>
    <div class="nav-item">
            <fa-icon [icon]="faUsers"></fa-icon>
            <span routerLink="/listeLocataire">Locataires</span>    
    </div>
    <div class="nav-item">
        <fa-icon [icon]="faFileContract"></fa-icon>
        <span>Contrats</span>
    </div>
    <div class="nav-item">
        <fa-icon [icon]="faMoneyBillWave"></fa-icon>
        <span>Paiements</span>
    </div>
    <div class="nav-item">
        <fa-icon [icon]="faDollarSign"></fa-icon>
        <span>Dépenses</span>
    </div>
</div>
